@font-face {
  font-family: Vonique;
  font-weight: normal;
  src: url('assets/vonique.ttf');
}

$white: rgb(255, 255, 255);
$gray: rgb(40, 40, 40);
$black: rgb(0, 0, 0);

$mobileWidth: 480px;

body, html {
  overflow: hidden;
  width: 100vw;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background: $gray;
  color: $white;
  font-family: 'Vonique';
  font-size: 16px;
  letter-spacing: .125rem;
  // overscroll-behavior-x: none;
}

body, html, button, input, textarea {
  font-family: 'Vonique';
  letter-spacing: .125rem;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;

  .hidden {
    visibility: hidden;
    opacity: 0;
  }

  .gyro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vh;
    height: 100dvh;
    transform: translate(-50%, -50%);

    &-image, &-video {
      position: absolute;
      width: 100%;
      height: 100dvh;
      object-fit: cover;
    }
  }
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    padding: .25rem .75rem 0rem;
    border: 2px solid $white;
    background: transparent;
    border-radius: 1rem;
    color: $white;
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  display:  flex;
  width: 100%;
  justify-content: space-between;
  font-size: .5rem;
  font-weight: bold;

  &> * {
    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
  p, a {
    backdrop-filter: blur(1rem);
    color: $black;
  }
  p {
    padding: .25rem 1rem;
  }
  a {
    padding: 0;
  }
}
